/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";


body {
  background: #EDEFF0;
}

.logo{
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  color: white;
}

.slogan{
  font-family: 'Satisfy', cursive;
  font-size: 25px;
  color: white;
}

footer{
  margin-top: 0.25rem;
}

.wrapper {
  width: 60%;
  max-width: 500px;
  margin: 0 auto;
}

#posts{
  background: white;
  padding: 2em 5%;
  border-radius: .5em;
  .post {
    margin: 1em 0;
    padding: 1em 0;
    border-bottom: 1px solid #D1d1d1;
    .title{
      text-decoration: none;
      font-weight: 100;
      font-size: 1.2rem;
      font-family: 'Baloo', cursive;
    }
    .date {
      margin-top: .25rem;
      font-size: 0.9rem;
      color: #B2BAC2;
    }
  }
}
.tamano_imagen{
  max-width: 500px;
}

.tamano_imagen2{
  max-width: 600px;
}

.navbar-custom {
  background-color: black;
}

.buscador {
  vertical-align: text-bottom;
}